@import "../node_modules/bootstrap/scss/bootstrap";


header{
    font-weight: 20;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1400;
    height: 4.4rem;
    background-color:whitesmoke transparent;
    backdrop-filter: blur(2rem);
}
.buttom-nav-container{
    font-weight: 20;
    // position: fixed;
    top: 0;
    width: 100%;
    
    z-index: 1500;
    height: 4.4rem;
    background-color:whitesmoke transparent;
    backdrop-filter: blur(2rem);
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #2a2a2a;
    --bs-nav-link-hover-color: #2a2a2a;
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    margin : 0 auto;
    margin-top: 10px;
    font-size: 1.4rem;
    color: #000000;
    padding: 0 1rem;
    transition: opacity .5s;
    white-space: nowrap;
    
}
.cta-link {
    color: #000000;
    font-size: 2.1rem;
    display: inline-block;
    padding: 30px;
}
.nav-link:hover{
    opacity: .7;
}

.nav-link-apple{
    margin-right: 60px;
    margin:6px 6px;
    margin-top: -1px;
    width: 1.6rem;
    height: 4.4rem;
    background: url(../card_page/small_pic/logo_apple__cyva9mmdnyi6_small.png)center no-repeat ;
}

#search-bar{
    margin:6px 6px;
    margin-top: -1px;
    width: 1.6rem;    
    height: 4.4rem;
    background: url(../assets/search.svg) center no-repeat;

}
#bag-bar{
    margin:6px 6px;
    margin-top: -1px;
    display: flex;
    width: 1.6rem;
    height: 4.4rem;
    background: url(../assets/bag.svg) center no-repeat;
}

// -----------------------------MOBILE VERSION-----------------------------------

// @media screen and (max-width: 768px)
// {
//     header{
//         height: 4.8rem;
//         transition: background .36s cubic-bezier(0.32, 0.08 , 0.24 , 1),
//                     height  .56s cubic-bezier(0.32, 0.08 , 0.24 , 1) ;
//     }
//     header .container{
//         padding : 0;
//     }
//     // .iphone-card{
//     //     margin-top : 4.8rem;
//     // }
//     nav-list{
//         margin-top:  0;

//     }
//     .nav-list-mobile{
//         display: flex;
//     }
//     .nav-item{
//         width: 4.8rem;
//         height: 4.8rem;
//         justify-content: center;
//     }
//     .nav-item-hidden{
//         display: none;
//     }
//     .nav-list-larger{
//         display: none;
//     }
// }


// =================================================================


// ===================GLOBAL SECTION====================================================================================================

.btn{
    border-radius: 30px;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 20px;
}





// ================================= HERO SECTION ================================================================================================
.hero{
    background-size: cover;  
    height: 120.2rem;
    background-size: auto 73.6rem;
    border-top:.6rem solid #ffffff;
    border-bottom: .6rem solid #fff;
    background-repeat: no-repeat;
    background-position: center;

}
.iphone-card{
    background: url(../card_page/large_pic/photo-1614851099362-9adf73ccebe9.avif);
    background-repeat: no-repeat;
    margin-top: 4.4rem;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.iphone-card{
    border-top:none;
}
.iphone-hero{
    background: url(../card_page/large_pic/hero_iphone__errwhundjmky_large.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.heading-logo{
    margin-right: 60px;
    margin:6px 6px;
    margin-top: -1px;
    width: 4.6rem;
    height: 22.86px;
    background: url(../logo/2560px-Apple_Card.svg.png)center no-repeat ;
}

.heading-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7.6rem;
}
// ================================= HERO SECTION ENDS HERE=======================================================================================





// ================================= CARD SECTION ================================================================================================

// // =================================GLOBAL SECTION (CARD) =================================================================================
// ._card{
//     width: 100%;
//     height: 100%;
//     border-radius: 40px;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     border : 1px solid rgb(166, 162, 162) ;
//     display: relative;
//     padding-top : 80px;
// }
// .plus-sign{
//     display: block;
//     margin-left: 95%;
//     margin-top: -30px;
//     width: 30px;
//     height: auto;
//     cursor: pointer;
    
// }
// .card-container{
//     display: flex;
//     justify-content: center ;
//     margin: 20px;
//     position: relative;
    
// }
// .card-title{
//     font-size: 50px;
//     font-weight: 500;
//     text-align: center;

// }
// img{
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }
// .text{
//     margin-left: 520px;
//     right:0px;
//     left:0px;
//     position: absolute;
    
// }
// .subheading{
//     color: #000000;
// }
// .title{
//     .subheading{
//         font-size: 12.65rem;
//         margin-top: 0.6rem;
//         letter-spacing: 0.008rem;
//         font-weight: 400;
//     }
// }
// // =================================================================================================

// .content{
//     font-size: 21px;
//     line-height: 1.381;
//     font-weight: 600;
//     letter-spacing: .011em;
//     text-align: center;
// }


.iphone-card-background{
    background: url(../card_page/large_pic/photo-1614851099362-9adf73ccebe9.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
// .card-title{
//     position:absolute ;
// }
.cardi{
    padding: 200px !important;
    background-color: #f5ac6c !important;
    border: 1px solid black;
    border-radius: 30px;
    margin:40px;
}
h5{
    font-size: 50px;
}